<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Globant" class="img-responsive text-center" src="modules/core/img/brand/logo_globant_384.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Helper App For Interviewers
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.globant.com" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The Mx Globant Team.
</section>
